.cm-s-obsidian .cm-header-2, 
.markdown-preview-view h2 { 
        font-weight: 450; 
        color: rgb(139, 108, 239); /* was(115, 98, 205); */ 
<<<<<<< HEAD
};

.cm-s-obsidian .cm-header-2, 
.markdown-preview-view h3 { 
        font-weight: 450; 
        color: rgb(174, 156, 233) !important; /* was(115, 98, 205); */ 
};
=======
} 
>>>>>>> origin/main
